<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">

  <head>
    <title>Maven Book: ${title}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="${title}" />
    <meta name="robots" content="index,follow" />
    <meta name="DC.title" content="${title}" />
    <link rel="shortcut icon" href="/sites/all/themes/sonatype/favicon_sonatype.ico" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" media="all" href="/modules/node/node.css?h" />
    <link type="text/css" rel="stylesheet" media="all" href="/modules/system/defaults.css?h" />
    <link type="text/css" rel="stylesheet" media="all" href="/modules/system/system.css?h" />

    <link type="text/css" rel="stylesheet" media="all" href="/modules/system/system-menus.css?h" />
    <link type="text/css" rel="stylesheet" media="all" href="/modules/user/user.css?h" />
    <link type="text/css" rel="stylesheet" media="all" href="/sites/all/modules/cck/theme/content-module.css?h" />
    <link type="text/css" rel="stylesheet" media="all" href="/sites/all/modules/date/date.css?h" />
    <link type="text/css" rel="stylesheet" media="all" href="/sites/all/modules/date/date_popup/themes/datepicker.css?h" />
    <link type="text/css" rel="stylesheet" media="all" href="/sites/all/modules/date/date_popup/themes/timeentry.css?h" />
    <link type="text/css" rel="stylesheet" media="all" href="/sites/all/modules/filefield/filefield.css?h" />
    <link type="text/css" rel="stylesheet" media="all" href="/sites/all/modules/imagefield/imagefield.css?h" />
    <link type="text/css" rel="stylesheet" media="all" href="/sites/all/modules/img_assist/img_assist.css?h" />
    <link type="text/css" rel="stylesheet" media="all" href="/sites/all/modules/cck/modules/fieldgroup/fieldgroup.css?h" />
    <link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/sonatype/style.css?h" />
    <link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/sonatype/css/tabs.css?h" />
    <link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/sonatype/css/main.css?h" />
    <link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/sonatype/css/layout-fixed.css?h" />
    <link type="text/css" rel="stylesheet" media="print" href="/sites/all/themes/sonatype/css/print.css?h" />
    <link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/sonatype/css/book.css?h" />
    <!--[if lte IE 6]>
        <style type="text/css" media="all">
          @import "/sites/all/themes/sonatype/css/ie6.css";
        </style>
        <![endif]-->

    <!--[if IE 7]>
        <style type="text/css" media="all">
          @import "/sites/all/themes/sonatype/css/ie7.css";
        </style>
        <![endif]-->
    <script type="text/javascript" src="/misc/jquery.js?h"></script>
    <script type="text/javascript" src="/misc/drupal.js?h"></script>
    <script type="text/javascript" src="/sites/all/modules/date/date_timezone/date_timezone.js?h"></script>
    <script type="text/javascript" src="/sites/all/modules/img_assist/img_assist.js?h"></script>
    <script type="text/javascript" src="/sites/all/modules/views/js/base.js?h"></script>
    <script type="text/javascript" src="/sites/all/modules/views/js/ajax_view.js?h"></script>

    <script type="text/javascript"></script>
    ${head}
  </head>

  <body class="not-front not-logged-in page-node node-type-page one-sidebar sidebar-left page-about-team section-about">
    <div id="page">
      <div id="header">
        <div id="logo-title">
          <a href="/" title="Home" rel="home" id="logo"><img src="/sites/all/themes/sonatype/images/sonatype_logo.gif" alt="Home" /></a>
          <div id="name-and-slogan">
            
          </div> <!-- /name-and-slogan -->

        </div> <!-- /logo-title -->
        <div id="navigation" class="menu withprimary ">
          <div id="primary" class="clear-block">
            <ul class="links primary-links"><li class="menu-443 first"><a href="/home" title="Sonatype, Inc.">HOME</a></li>
              <li class="menu-1037"><a href="http://store.sonatype.com" title="Buy Sonatype products">STORE</a></li>
              <li class="menu-1032"><a href="/products" title="Products">PRODUCTS</a></li>
              <li class="menu-996"><a href="/solutions" title="Solutions">SOLUTIONS</a></li>
              <li class="menu-418"><a href="http://blogs.sonatype.com/" title="Sonatype Blogs">BLOGS</a></li>

              <li class="menu-329 active-trail last"><a href="/about" title="About Sonatype">ABOUT</a></li>
          </ul>        </div>
        </div> <!-- /navigation -->
        
        <div id="header-region">
          <h1 class="title">Maven: The Definitive Guide</h1>              </div>

      </div> <!-- /header -->

      <div id="main" class="clearfix">
        <div id="main-inner">
          <div id="content" class="column">
            <div id="content-inner">
              <div id="content-header">  
              </div> <!-- /#content-header -->
              <div id="content-area">
	            <div class="node node-type-page" id="node-45">
		          <div class="node-inner">
	  	            <div class="meta">
	  			  	</div>
	  	            <div class="content">
			          ${body}
	  	  	  	    </div>
		          </div> <!-- end node-inner -->
	            </div> <!-- end node-->
              </div>
            </div>
          </div> <!-- /content-inner /content -->
          
          
          <!-- SIDEBAR LEFT -->
          <div id="sidebar-left" class="column sidebar">
            <div id="sidebar-left-inner">
              <div class="left" id="top-left"><div id="block-menu-menu-about-menu" class="block block-menu odd left">
                  
                  
                  <div class="content">
                    <h3>Maven Book</h3>
                    <ul class="menu">
                      <li class="leaf first">
                        <a href="/maven/documentation/download-book?file=books/maven-definitive-guide.pdf" title="Download PDF">Download PDF</a>
                      </li>
                      <li class="leaf">
                        <a href="/people/category/book/" title="Book Blog">Book Blog</a></li>
                    </li>
                  </ul>
                  <br/><br/>
<center>                  <a href="/products/downloads" title="Evaluate Pro"><img src="http://www.sonatype.com/system/files/images/book-ad.png" width="160" height="424" border="0"/></a><br/>  </center><br/><br/>
                  <ul class="menu">
                    <li class="leaf">
                      <a href="http://www.sonatype.org" title="Nexus Project">Nexus Project</a></li>
                    <li class="leaf">
                      <a href="/products/nexus" title="Nexus Professional">Nexus Professional</a></li>
                    <li class="leaf">
                      <a href="/products/downloads" title="Evaluate Pro">Evaluate Nx Pro</a></li>
                  </ul>  
                </div>
              </div>          
            </div>
          </div> <!-- /sidebar-left -->
        </div> <!-- /main-inner -->
      </div> <!-- /main -->
    </div>      
            <script src="http://loopfuse.net/webrecorder/js/listen.js" type="text/javascript"></script><script type="text/javascript">
              _lf_cid = "LF_5208d25a";
              _lf_remora();
          </script>

            <script type="text/javascript">
              var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
              document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
            </script><script type="text/javascript">
              try {
              var pageTracker = _gat._getTracker("UA-1693297-1");
              pageTracker._setDomainName(".sonatype.com");
              pageTracker._trackPageview();
              } catch(err) {}</script> 

  </body>
</html>
