body {
  text-align: center;
  margin: 0px;
  padding: 0px;
  color: #999999;
  background:#FFFFFF url(http://cms.sonatype.com/sites/all/themes/sonatype/images/bg_page.gif) repeat-x;
  font-family:Georgia,serif;
  font-size:84.5%;
  font-size-adjust:none;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:normal;
}

#frame {
  width: 802px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  padding: 0px;
  text-align: left;
}


#forbg {
  margin-top: 14px;
  padding-left: 25px;
  padding-right: 25px;
}

#user-header {
  padding-bottom: 5px;
  margin-top: -14px;
}

#logo {
	float:left;
	width: 390px;
}

#right-header {
    padding-top: 16px;
	float: right:
	width: 350px;
	padding-left: 50px;	
}

#right-header h2 {
    font-size: 125%;
}



a,
a[accesskey^="h"],
a[accesskey^="n"],
a[accesskey^="u"],
a[accesskey^="p"] {
	color: #000000;
}

a:active {
    color: #000000;
}

a:visited {
    color: #000000;
}

p {
}

dt {
}

p, dl, dt, dd, blockquote {
    color: #000000;
    margin-bottom: 3px;
    margin-top: 3px;
    padding-top: 0;
}

ol, ul, p {
    margin-top: 6px;
    margin-bottom: 6px;
}

li p {
   line-height: 1.1em;
   margin-bottom: 3px;
   margin-top: 3px;
}

p, blockquote {
    font-size: 110%;
    line-height: 1.2em;
}

p.releaseinfo {
    font-size: 100%;
    font-weight: bold;
    padding-top: 10px;
}

p.pubdate {
    font-size: 125%;
    font-weight: bold; 
}

td {
    font-size: 80%;
}

td, th, span {
    color: #000000;
}

blockquote {
    margin-right: 0;
}

h1, h2, h3, h4, h6 {
    color: #000000;
    font-weight: 500;
    margin-top: 0;
    padding-top: 5px;
    margin-bottom: 0;
}

h2.title {
    font-weight: 800;
    margin-bottom: 8px;
}

h2.subtitle {
    font-weight: 800;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px black;
    empty-cells: hide;
    margin: 0 0 0 0;
    width: 100%;
}

div.table {
	margin: 30px 0 10px 0;
	padding: 10px;
}

div .table-contents table {
	border: 1px solid black;
}

div.table > p.title {
	padding-left: 10px;
}

table[summary^="Navigation footer"], table[summary^="Navigation header"] {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px black;
    empty-cells: hide;    
    margin-top: 0px;
    width: 100%;
}

table[summary^="Note"],
table[summary^="Warning"],
table[summary^="Tip"] {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px black;
    empty-cells: hide;    
    margin: 10px 0px 10px -20px;
    width: 100%;
}

td {
    padding: 4pt;
}

div.warning TD {
	text-align: justify;
}

h1 { 
    font-size: 150%; 
}

h2 { 
    font-size: 110%; 
}

h3 {
    font-size: 100%; font-weight: bold; 
}

h4 { 
    font-size: 90%; font-weight: bold;
}

h5 {
    font-size: 90%; font-style: italic; 
}

h6 { 
    font-size: 100%; font-style: italic; 
}

tt {
    font-size: 110%;
    font-family: "Courier New", Courier, monospace;
    color: #000000;
}

.navheader, .navfooter {
    clear: both;
	border: none;
}

.navheader {
  margin-top: 0px;
}

div.navfooter table td, div.navheader table td {
  font-size: 90%;
  color: black; 
}

pre {
    font-size: 0.9em;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #f3f5e9;
    color: #000000;
}

i.hl-comment font[color="silver"] {
  color: #0000A0;
}

ul, ol, li {
    list-style: disc;
}

hr {
    width: 100%;
    height: 1px;
    background-color: #CCCCCC;
    border-width: 0;
    padding: 0;
}

.variablelist { 
    padding-top: 10px; 
    padding-bottom: 10px; 
    margin: 0;
}

.term { 
    font-weight:bold;
}

.mediaobject {
}

.figure .title {
  padding-left: 20px;
  color: #0000A0;
}

.legalnotice {
    font-size: 12px;
    font-style: italic;
}

.sidebar {
    float: right;
    margin: 10px 0 10px 30px;
    padding: 10px 20px 20px 20px;
    width: 33%;
    border: 1px solid black;
    background-color: #F4F4F4;
    font-size: 14px;
}

.property {
	font-family: "Courier New", Courier, monospace;
}

a code {
	font-family: "Courier New", Courier, monospace;
}

td code {
    font-size: 110%;
}

div.note * td,
div.tip * td,
div.warning * td,
div.calloutlist * td {
	text-align: justify;
	font-size: 100%;
}

.programlisting .interfacename,
.programlisting .literal,
.programlisting .classname {
    font-size: 95%;
}

.title .interfacename,
.title .literal,
.title .classname {
    font-size: 130%;
}

/* everything in a <lineannotation/> is displayed in a coloured, comment-like font */
.programlisting * .lineannotation,
.programlisting * .lineannotation * {
	color: green;
}

.question * p {
    font-size: 100%;
}

.answer * p {
    font-size: 100%;
}

.section-icon {
    float: right;
    margin-top: -25px;
}

div.preface, div.chapter, div.titlepage, div.list-of-figures, div.list-of-examples, div.index {
  margin-top: 20px;
  font-size:120%;
  line-height:1.5em;
}

p {
  margin-bottom: 20px;
  width: 600px;
}

div.figure p.title {
        width: 100%;
}

#blog-widget {
	float:  right;
    margin-right: -225px;
    margin-top: -50px;
}

div.book, div.chapter, div.preface, div#forbg > div.index  {
    margin-top: -400px;
}

div.list-of-figures, div.list-of-examples {
    margin-top: -380px;
}

div#forbg > div.section {
   position: relative;
   top: -425px;
}

div.navheader {
   position: relative;
   top: -430px;
}

div#left-sidebar {
   position: relative;
   left: -210px;
   top: 50px;
   border: 1px solid black;
   width: 160px;
   padding: 10px;
}